* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

/* navbar */

header{
    background-color: rgb(255, 166, 0);
    color: blue;
    height: 50px;
    padding: 15px 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0.2px 3px 1px rgb(233, 140, 0);
}

#navbar {
    display: flex;
    justify-content: flex-end;
}

#navbar a:hover {
    font-weight: bold;
    color: blue;
}

#navbar li {
    display: inline;
    margin: 0px 20px;
}

/* global main section */
main {
    position: relative;
    top: 50px;
}

section {
    padding: 60px 20%;
}

h2 {
    margin-bottom: 15px;
    letter-spacing: 3px;
}

p {
    line-height: 1.3;
}
/* welcome section */

#welcome-section {
    background-color: blue;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-family: ;
    letter-spacing: 2px;
    color: darkblue;
}

#welcome-section p {
    font-size: 20px;
    font-family: ;
    color: rgb(255, 166, 0);
    letter-spacing: 10px;
}
/* about section */

#about {
    background-color:rgb(255, 166, 0);
    color: darkblue;
}

h2, h3 {
    color: blue;
}

h3 {
    margin: 30px 0 0;
    text-align: center;
}
/* skills section */

.skills-lists {
    display: flex;
    justify-content: space-around;
}

.skills-lists ul {
    display: inline-block;
    padding: 20px;
    list-style-type:square;
    line-height: 2;
}


/* projects section */

#projects h2, #projects p {
    color: rgb(255, 166, 0);
}

#projects {
    background-color: blue;
}

#projects h3 {
    font-weight: 600;
    font-size: 15px;
    font-family: ;
    color: rgb(255, 166, 0);

}
.project-grid {
    column-gap: 20px;
    row-gap: 20px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
}

.project-tile {
    padding: 30px 10px 0px;
    text-align: center;
}

#projects a {
    background-color: darkblue;
    padding: 10px;
    box-shadow: 1px 1px 3px;
}
/* contact section */

#contact {
    background-color: rgb(255, 166, 0);
    color: darkblue;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
}

#contact a:hover {
    font-weight: bold;
    color: darkblue;
}
#contact p {
    display: inline;
    margin-left: 10px;
    color: darkblue;
}

#contact img {
    height: 50px;
}
/* footer */

footer{
    background-color: darkblue;
    color: rgb(255, 166, 0);
    height: 40px;
    padding: 10px 0;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 50px;
    text-align: center;
    font-size: 11px;
    padding: 5px;
}

footer p {
    margin-top: 10px;
}

@media (max-width: 1000px) {
    #contact img {
        height: 25px;
    }
  }