@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Economica:wght@700&family=Rancho&family=Ranga&family=Snippet&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ebeaf2;
}

/* navbar */

header {
  background-color: #12003a;
  color: #ebeaf2;
  height: 50px;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  font-family: "Ranga", cursive;
}

#navbar a:hover {
  font-weight: bold;
  color: #af3768;
}

#navbar ul {
  float: right;
}

#navbar li {
  display: inline;
  margin: 0px 20px;
  font-size: 20px;
}

#logo {
  margin-right: 20px;
}
/* global main section */
main {
  position: relative;
  top: 50px;
}

section {
  padding: 60px 20%;
}

h2 {
  margin-bottom: 15px;
  letter-spacing: 3px;
  color: #713770;
  font-family: "Economica", sans-serif;
  font-size: 30px;
}

p {
  line-height: 1.3;
  color: #12003a;
  font-family: "Snippet", sans-serif;
}

/* welcome section */

#hero {
  background-color: #fad02c;
  text-align: center;
  background-image: url(assets/code-background.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 80px;
  font-family: "Rancho", cursive;
  letter-spacing: 10px;
  color: #af3768;
}

#hero p {
  font-size: 25px;
  font-family: "Cutive Mono", monospace;
  letter-spacing: 12px;
}
/* about section */

#about {
  background-color: #ebeaf2;
}

.skills h3 {
  margin: 0 0 40px 0;
  text-align: center;
  color: #ebeaf2;
  font-family: "Economica", sans-serif;
  font-size: 30px;
}
/* skills section */

.skills {
  background-color: #432f70;
  color: #ebeaf2;
  text-align: center;
}

.skills-lists {
  display: flex;
  justify-content: space-around;
  text-align: left;
  font-family: "Snippet", sans-serif;
}

.skills-lists ul {
  display: inline-block;
  padding: 20px;
  list-style-type: square;
  line-height: 2;
}

/* projects section */

#projects {
  background-color: #ebeaf2;
}

#projects h3 {
  font-size: 20px;
  font-family: "Ranga", cursive;
  letter-spacing: 1px;
}
.project-grid {
  column-gap: 20px;
  row-gap: 20px;
  margin: auto;
  margin-top: 20px;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
}

.project-tile {
  padding: 30px 10px 0px;
  text-align: center;
  border: 5px solid #ebeaf2;
}

#projects a {
  background-color: #af3768;
  color: #fad02c;
  padding: 10px;
}

.divider {
  background-color: #432f70;
  height: 30px;
}
/* contact section */

#contact {
  background-color: #fad02c;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #f0c20a; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: "Snippet", sans-serif;
  font-size: 15px;
}

::placeholder {
  color: #12003a;
  font-family: "Snippet", sans-serif;
  font-size: 15px;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #af3768;
  color: #ebeaf2;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Ranga", cursive;
  font-size: 20px;
  letter-spacing: 1px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #9e2053;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}
/* footer */

footer {
  background-color: #12003a;
  height: 60px;
  padding: 10px 0;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  font-family: "Ranga", cursive;
  color: #ebeaf2;
}

footer p {
  margin-top: 10px;
  color: #ebeaf2;
  margin-bottom: 5px;
}

footer span {
  letter-spacing: 1px;
}

footer a:hover {
  color: #af3768;
}
@media (max-width: 1000px) {
}
