@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Economica:wght@700&family=Rancho&family=Ranga&family=Snippet&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

html {
  min-width: 600px;
}

a {
  text-decoration: none;
  color: #ebeaf2;
}

/* navbar */

header {
  background-color: #12003a;
  color: #ebeaf2;
  height: 80px;
  padding: 25px 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  font-family: "Ranga", cursive;
}

#navbar a:hover {
  font-weight: bold;
  border: 1px solid #af3768;
  border-radius: 15px;
  padding: 5px 15px;
}
#navbar a {
  font-size: 25px;
}
#navbar ul {
  float: right;
}

#navbar li {
  display: inline;
  margin: 0px 20px;
}

#logo {
  margin-left: 20px;
  float: left;
  display: flex;
  justify-content: center;
}

#logoText {
  font-size: 30px;
  margin-left: 10px;
}

/* global main section */
#about,
#projects,
#contact {
  scroll-margin-top: 5em;
}

.parent {
  position: relative;
}

main {
  position: relative;
  top: 50px;
}

section {
  padding: 60px 15%;
}

h2 {
  margin-bottom: 15px;
  letter-spacing: 3px;
  color: #713770;
  font-family: "Economica", sans-serif;
  font-size: 35px;
}

p {
  line-height: 1.3;
  color: #12003a;
  font-family: "Snippet", sans-serif;
}

/* welcome section */

#hero {
  background-color: #fad02c;
  text-align: center;
  background-image: url(assets/code-background.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 80px;
  font-family: "Rancho", cursive;
  letter-spacing: 10px;
  color: #af3768;
}

#hero p {
  font-size: 25px;
  font-family: "Cutive Mono", monospace;
  letter-spacing: 12px;
}
/* about section */

#about {
  background-color: #ebeaf2;
}

.skills h3 {
  margin: 0 0 40px 0;
  text-align: center;
  color: #ebeaf2;
  font-family: "Economica", sans-serif;
  font-size: 30px;
}
/* skills section */

.skills {
  background-color: #432f70;
  color: #ebeaf2;
  text-align: center;
}

.skills-lists {
  display: flex;
  justify-content: space-around;
  text-align: left;
  font-family: "Snippet", sans-serif;
}

.skills-lists ul {
  display: inline-block;
  padding: 20px;
  list-style-type: square;
  line-height: 2;
}

.stats {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
  transform: translateX(100%);
  transform: translateY(-100%);
}
/* projects section */

#projects {
  background-color: #ebeaf2;
}

#projects a:hover {
  color: #ebeaf2;
}

#projects .intro {
  margin-left: 180px;
}

#projects h3 {
  font-size: 25px;
  font-family: "Ranga", cursive;
  letter-spacing: 1px;
}
.project-grid {
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.project-tile {
  padding: 30px 10px 0px;
  text-align: center;
  border: 5px solid #ebeaf2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#projects .big-tile {
  background-color: #af3768;
  color: #fad02c;
  padding: 10px;
  height: 200px;
  width: 300px;
}

.project-tile img {
  height: 150px;
}

.link {
  color: #12003a;
  font-family: "Snippet", sans-serif;
  margin: 10px;
}

.bulb {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  /* transform: translateX(100%); */
  transform: translateY(-100%);
}

.divider {
  background-color: #432f70;
  height: 30px;
}
/* contact section */

#contact {
  background-color: #fad02c;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #f0c20a; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: "Snippet", sans-serif;
  font-size: 20px;
}

::placeholder {
  color: #12003a;
  font-family: "Snippet", sans-serif;
  font-size: 20px;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #af3768;
  color: #ebeaf2;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Ranga", cursive;
  font-size: 20px;
  letter-spacing: 1px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #9e2053;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}
/* footer */

footer {
  background-color: #12003a;
  /* height: 60px; */
  padding: 10px 0;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  font-family: "Ranga", cursive;
  color: #ebeaf2;
}

footer p {
  margin-top: 10px;
  color: #ebeaf2;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

#logoImg {
  height: 150px;
  margin: 0 10px;
}

footer span {
  letter-spacing: 1px;
  font-size: 15px;
}
footer a {
  font-size: 15px;
}
footer a:hover {
  color: #af3768;
}

.rocket {
  /* display: block;
  position: absolute; */
  top: 0;
  right: 0;
  height: 200px;
}

.rocket-parent {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-75%);
}

.rocket-parent p {
  font-size: 25px;
  font-family: "Economica", sans-serif;
  letter-spacing: 1px;
  margin: 0;
}
@media (max-width: 1000px) {
}
